<footer class="footer">
  <div class="footer-logo">
    <img
      class="ey-logo-small"
      src="assets/img/EY_Logo_Beam_STFWC_Horizontal_Large_RGB_White_Yellow_EN.png"
      alt="EY Logo"
    />
  </div>
  <div class="footer-content">
    <span class="footer-link">Privacy Statement</span>
    <p class="footer-copy">
      &copy; {{ currentYear }} EYGM Limited | All Rights Reserved.
    </p>
    <p class="footer-disclaimer">
      Content within this application is confidential and meant for EY staff
      and EY clients only.
    </p>
  </div>
</footer>
